/* You can add global styles to this file, and also import other style files */
.header{
  text-align: center;
  padding:  15px 5px 5px;
  border-radius: 10px 10px 0 0 ;
  background: rgba(249, 232, 137, 0.29);
  border: 1px solid red;
  border-bottom: none;
}

.tab-link{
  background: rgba(249, 232, 137, 0.29);
  margin-top: 0;
  padding: 0 5px;
  border: 1px solid red;
  border-top: none;
  display: block;
}

.link{
  display: inline-block;
  padding: 5px 5px 8px;
  color: gray;
  text-decoration: none;
  position: relative;
  top: 1px;
  border: 1px solid transparent;
}

.link-active{
  background: white;
  color: red;
  border: 1px solid red;
  border-bottom: 1px solid white;
}

.test-data{
  padding: 3px 5px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  background: #e0e0e0;
}
